{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam, at commodi consequatur corporis, dicta ducimus
    eligendi est eum eveniet exercitationem illum maxime mollitia natus necessitatibus nobis nostrum odio quae quaerat
    qui totam, ullam vitae? Dignissimos eaque nemo tempore totam.</p>
<p>Cupiditate et facilis fugit impedit natus neque
    omnis perferendis perspiciatis porro, quod! Distinctio enim esse excepturi incidunt ipsum laboriosam nisi numquam
    sunt vero, voluptas! Accusamus adipisci architecto beatae, blanditiis, dolorum libero mollitia nihil quaerat quod,
    quos reprehenderit saepe voluptatem voluptatum?</p>
{% endblock %}